{% load allauth_ui %}
{% load widget_tweaks %}

<c-vars render_fields="true" use_default_button="true" />
<form class="py-3" method="post" action="{{ url }}" {{ attrs }}>
  {% for error in form.non_field_errors %}
    <span class="my-1 flex items-center max-w-xs mt-1 ml-1 text-sm font-medium tracking-wide text-red-600 dark:text-red-400">{{ error }}</span>
  {% endfor %}
  {% if render_fields == "true" %}
    {% for field in form.visible_fields %}
      {% if field.name != "remember" %}<c-form-field :field="field"></c-form-field>{% endif %}
    {% endfor %}
  {% endif %}
  {{ slot }}
  {% if use_default_button == "true" %}
    <button type="submit"
            class="my-3 inline-flex items-center px-6 py-3 bg-primary-600 hover:bg-primary-700 dark:bg-primary-500 dark:hover:bg-primary-600 text-white font-medium rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-primary-500 dark:focus:ring-primary-400 focus:ring-offset-2 dark:focus:ring-offset-gray-900">
      {{ button_text }}
    </button>
  {% endif %}
</form>
